#-- JetBrains --
**/cmake-build-debug
**/cmake-build-release
**/cmake-build-relwithdebinfo
**/.idea
**/__pycache__/
#-- jupyter --
**/.ipynb_checkpoints/*

lab1/CMakeLists.txt
lab1/dutka_lab1.pdf
lab1/lab1Spraw.docx
lab1/matplotlibcpp.h
lab1/sum_error.json
lab1/sum_error_progress.json
lab1/wykr1.png
lab1/wykr_traj.png
lab2/lab2Spraw.docx
lab2/zad3/
lab2/~$b2Spraw.docx
lab4/binImage/OptimState.py
lab4/binImage/SA.py
lab4/binImage/Untitled.ipynb
lab4/binImage/costFunc.py
lab4/binImage/energyFunctions.py
lab4/binImage/generator.py
lab4/binImage/main.py
lab4/binImage/nextState.py
lab4/binImage/results/
lab4/lab4spraw.docx
lab4/lab4spraw.pdf
lab4/sudoku/1solution.PNG
lab4/sudoku/resEx5perf.PNG
lab4/sudoku/sudoku.ipynb
lab5/results/
lab6/dutka/
lab6/sprawozdanie.docx
wyklady/
